{% extends 'base.html.twig' %}

{% block title %}Hello SprintController!{% endblock %}

{% block body %}


    <div class="sprint">

        <div class="column devs">
            <div class="column-name">
                <i class="fa-solid fa-code"></i> Developpeurs
            </div>
            <div class="devs">
                {% for developer in users %}
                    <div class="dev dev-in-list" dev="{{ developer.id }}" >
                        <span class="dev-name">
                            {{ developer.name }}
                        </span>
                        <div class="dev-counter" id="dev_{{ developer.id }}_doing">{{ developer | tickets_doing_count }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>


        <div
            class="column todo"
            id="todo"
            data-status="0"
        >
            <div class="column-name">
                <i class="fa-solid fa-clipboard-list"></i> Todo
            </div>

            <div
                class="tickets"
                data-controller="draggable"
                data-status="0"
                data-action="dragover->draggable#allowDrop drop->draggable#ondrop dragleave->draggable#onDragLeave"
            >
                {% for ticket in todo %}
                    <app-ticket
                        ticket="{{ ticket.id }}"
                        id="ticket-{{ ticket.id }}"
                        class="ticket todo"
                        data-id="{{ ticket.id }}"
                        data-status="{{ ticket.status }}"
                        data-="{{ ticket.status }}"
                        draggable="true"
                        progression="0"
                        data-stade="start"
                        dev=""
                        dev-name=""
                        description="{{ ticket.description }}"
                    >
                        <span class="ticket-name">
                        {{ ticket.name }}
                    </span>
                    </app-ticket>
                {% endfor %}
            </div>

        </div>

        <div
                class="column in-progress"
        >
            <div class="column-name">
                <i class="fa-solid fa-gears"></i> In-Progress
            </div>

            <div class="devs">
                {% for developer in users %}
                    <div class="dev">
                        <span class="dev-name">
                            {{ developer.name }}
                        </span>
                        <div
                                class="tickets"
                                id="in-progress-{{ developer.id }}"
                                data-status="1"
                                data-controller="draggable"
                                data-action="dragover->draggable#allowDrop drop->draggable#ondrop dragleave->draggable#onDragLeave"
                                data-dev="{{ developer.id }}"
                                data-name="{{ developer.name }}"
                        >
                            {% for ticket in tickets[developer.name] %}
                                <app-ticket
                                        ticket="{{ ticket.id }}"
                                        id="ticket-{{ ticket.id }}"
                                        class="ticket in_progress"
                                        data-id="{{ ticket.id }}"
                                        draggable="true"
                                        data-status="{{ ticket.status }}"
                                        status="{{ ticket.status }}"
                                        progression="{{ ticket.progression }}"
                                        data-stade="{{ ticket.stade }}"
                                        dev="{{ ticket.developer ? ticket.developer.id : '' }}"
                                        dev-name="{{ ticket.developer ? ticket.developer.name : '' }}"
                                        description="{{ ticket.description }}"

                                >
                                    <span class="ticket-name">
                                        {{ ticket.name }}
                                    </span>
                                    <dev-name dev="{{ ticket.developer ? ticket.developer.id : '' }}" name="{{ ticket.developer ? ticket.developer.name : '' }}">
                                    </dev-name>
                                    <progress-bar ticket="{{ ticket.id }}" data-progression="{{ ticket.progression ?? 0 }}"></progress-bar>
                                </app-ticket>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div
            class="column done"
        >
            <div
                class="column-name"
            >
                <span>
                    <i class="fa-solid fa-clipboard-check"></i> Done
                </span>
                <span>
                    <span
                            class="as-link"
                            data-controller="tooltip"
                            data-tooltip='{% include 'sprint/_done_menu.html.twig' | e('html') %}'
                            data-interactive="1"
                            data-trigger="click"
                    >
                        <i class="fa-solid fa-ellipsis"></i>
                    </span>
                </span>
            </div>
            <div
                class="tickets"
                id="done"
                data-controller="draggable"
                data-status="2"
                data-action="dragover->draggable#allowDrop drop->draggable#ondrop dragleave->draggable#onDragLeave"
            >
            {% for ticket in done %}
                <app-ticket
                    ticket="{{ ticket.id }}"
                    id="ticket-{{ ticket.id }}"
                    class="ticket done"
                    data-id="{{ ticket.id }}"
                    draggable="true"
                    data-status="{{ ticket.status }}"
                    status="{{ ticket.status }}"
                    progression="100"
                    dev=""
                    dev-name=""
                    description="{{ ticket.description }}"

                >
                    <span class="ticket-name">
                        {{ ticket.name }}
                    </span>
                </app-ticket>
            {% endfor %}
            </div>
        </div>

    </div>

{% endblock %}
