{{ form_start(form) }}

    {{ form_widget(form.name) }}
    {{ form_widget(form.email) }}
    {{ form_row(form.role) }}
    {{ form_row(form.password) }}
    <button class="btn">
        {{ button_label|default('Save') }}
    </button>

{{ form_end(form) }}
